* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
#calculator {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 3em;
  box-shadow: 0 4px 8px 7px rgba(25, 255, 244, 0.5);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 5px;
}
#output {
  flex-grow: 1;
  background-color: #0f1f24;
  text-align: right;
  padding: 10px 20px;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
}
#input {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}
.button {
  flex-grow: 1;
  display: flex;
}
.box {
  flex-basis: 25%;
  border: 1px solid black;
  background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
  text-align: center;
  padding: 30px;
  cursor: pointer;
}
.box:hover {
  font-weight: bold;
}
.double {
  flex-basis: 50%;
  border-bottom-right-radius: 10px;
}
.curve {
  border-bottom-left-radius: 10px;
}
.operator {
  color: black;
  background: #ff4d00;
}
.history {
  width: 80%;
  margin: 30px auto 0 auto;
  overflow: scroll;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th {
  background-color: orange;
  color: white;
}
tr:nth-child(event) {
  background-color: #d2d2d2;
}
@media screen and (max-width: 513px) {
  .box {
    padding: 5px;
  }
  .history {
    width: 100%;
  }
}
